@implements IDisposable
@using Swarmer.Web.Client.Services
@inherits LayoutComponentBase
@* ReSharper disable once InconsistentNaming *@
@inject DarkModeManager DMM

<div class="@(_darkMode ? "dark" : "")">
	<div>
		<NavBar/>
	</div>

	<div class="dark:bg-black">
		<ErrorBoundary>
			<ChildContent>
				<div class="mx-auto container dark:text-white h-screen pt-5 lg:pt-14">
					@Body
				</div>
			</ChildContent>
			<ErrorContent>
				<h3>An error occured. Try <a href="." class="text-sky-500 hover:underline hover:underline-offset-2">reloading</a> the page.</h3>
			</ErrorContent>
		</ErrorBoundary>
	</div>
</div>

@code
{
	private bool _darkMode;

	protected override Task OnInitializedAsync()
	{
		_darkMode = DMM.DarkMode;
		DMM.DarkModeToggle += OnDmmOnDarkModeToggle;
		return base.OnInitializedAsync();
	}

	private void OnDmmOnDarkModeToggle()
	{
		_darkMode = DMM.DarkMode;
		StateHasChanged();
	}

	public void Dispose() => DMM.DarkModeToggle -= OnDmmOnDarkModeToggle;
}
