@implements IDisposable
@using Swarmer.Web.Client.Services
@inherits LayoutComponentBase
@* ReSharper disable InconsistentNaming *@
@inject DarkModeManager DMM
@inject IJSRuntime JS
@* ReSharper restore InconsistentNaming *@

<div>
	<NavBar/>

	<div>
		<ErrorBoundary>
			<ChildContent>
				<div class="mx-auto container dark:text-white pt-5 pb-10 lg:pt-14">
					@Body
				</div>
			</ChildContent>
			<ErrorContent>
				<div class="text-center mx-auto container h-screen pt-5 lg:pt-14 dark:text-white">An error occured. Try <ReloadLink Text="reloading"></ReloadLink> the page.</div>
			</ErrorContent>
		</ErrorBoundary>
	</div>
</div>

@code
{
	protected override async Task OnInitializedAsync()
	{
		await JS.InvokeVoidAsync("setDarkMode", DMM.DarkMode);
		DMM.DarkModeToggle += OnDmmOnDarkModeToggle;
		await base.OnInitializedAsync();
	}

	private async void OnDmmOnDarkModeToggle() => await JS.InvokeVoidAsync("toggleDarkMode");

	public void Dispose() => DMM.DarkModeToggle -= OnDmmOnDarkModeToggle;
}
