@using Swarmer.Web.Client.Services
@inherits LayoutComponentBase
@* ReSharper disable once InconsistentNaming *@
@inject DarkModeManager DMM

<div class="@(_darkMode ? "dark" : "")">
	<div>
		<NavBar OnDarkModeToggled="@HandleDarkModeToggled"/>
	</div>

	<div class="dark text-center text-black dark:text-white h-screen md:text-left md:px-30 pt-10 dark:bg-black">
		<ErrorBoundary>
			<ChildContent>
				@Body
			</ChildContent>
			<ErrorContent>
				<h3>An error occured. Try <a href="." class="text-sky-500 hover:underline hover:underline-offset-2">reloading</a> the page.</h3>
			</ErrorContent>
		</ErrorBoundary>
	</div>
</div>

@code
{
	private bool _darkMode;

	protected override Task OnInitializedAsync()
	{
		_darkMode = DMM.DarkMode;
		return base.OnInitializedAsync();
	}

	private void HandleDarkModeToggled() => _darkMode = DMM.DarkMode;
}
